    <footer class="footer-distributed">

        <div class="footer-left">
            <img class="ml-3" src="/img/logo3.png">
            <h3>About<span>Blog-verse</span></h3>

            <p class="footer-links">
                <a href="../">Home</a>
                |
                <a href="../">Blog</a>
                |
                <a href="../about">About</a>
                |
                <a href="../contact">Contact</a>
            </p>

            <p class="footer-company-name">© 2022 Blog-verse</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                  <p><span>309 - Kunwar Singh Nagar,
                     Bldg. No. A - 1</span>
                    Nangloi, New Delhi- 1100XX</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+91 22-27782183</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@eduonix.com">support@BlogVerse.com</a></p>
            </div>
        </div>
        <div class="footer-right mt-2">
            <p class="footer-company-about">
                <span>About the company</span>
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
            <div class="footer-icons">
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/sawansharma109/"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://github.com/SawanSharma4u"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/8fdf683a83.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>