<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Verse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel ="stylesheet" href="/css/styles.css">
</head>
<body>   
         
    <nav class="navbar navbar-expand-md navbar-light navbar-bg-color" >
        
        <div class="container">
            <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
                <img
                  src="/img/logo3.png"
                  height="70"
                  alt="MDB Logo"
                  loading="lazy"
                />
            </a>
            <div class="navbar-header px-4">
                <a class="navbar-brand" href="/" >Blog-Verse</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">HOME</a> 
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link"  href="/about">ABOUT US</a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link"  href="/contact">CONTACT US</a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link"  href="/Login">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
  
    </nav>
 