<%- include("./partials/header"); -%>


<div class="container width container-fluid ml mr">
    <h2> Compose Your Blog Here </h2>
    <form action="/compose" method="POST">
        <div class="form-group mt-5">
            <label for="postTitle"><h6>Title</h6></label>
            <input class="form-control" id="postTitle" type="text" name="postTitle" placeholder="Enter title" required>
            <br>
            <label for="postBody"><h6>Post</h6></label>
            <textarea class="form-control" id="postBody" name="postContent" cols="40" rows="5" placeholder="Enter content here" required></textarea>
        </div>
        <br>
        <button class="btn btn-lg btn-primary mt-5" type="submit" name="publish">Compose</button>
    </form>
</div>


<%- include("./partials/footer"); -%>